@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@layer components {
  .input-field {
    @apply w-full border-b border-gray-400 py-2 outline-none bg-transparent text-[20px] transition-all duration-300 ease-in-out max-sm: !text-[16px];
  }

  .input-field:focus {
    @apply ring-1 ring-black pl-2.5 text-[20px] transition-all duration-300 ease-in-out border-0;
  }
}

@custom-variant dark (&:is(.dark *));

:root {
  --bg: #fff1e1;
  --primary: #ff8400;
  --secondary: #000000;
  --radius: 6px;
  --bg-black: #000000;
  --primary-dark: hsl(34, 100%, 55%);
  --font-helvetica: Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica: Helvetica, Arial, sans-serif;
  --font-heading: var(--font-helvetica);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.page-width {
  max-width: 1160px;
  margin: auto;
  padding-inline: 20px;
}

.page-width-narrow {
  max-width: 957px;
  margin: auto;
  padding-inline: 20px;
}

body {
  background-color: var(--bg);
  font-family: var(--font-helvetica) !important;
}

::selection {
  background-color: var(--primary);
  color: var(--bg);
}

::placeholder {
  font-weight: regular;
  font-size: 20px;
  color: #00000099 !important;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
}

input:not([type="checkbox"]) {
  min-height: 60px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #000;

  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  border-color: #ff8400;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  color: #ff8400;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.button {
  font-family: var(--font-helvetica);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  padding: 16px 50px;
  background-color: var(--primary);
  color: var(--bg-black);
  border-radius: var(--radius);
  transition: background-color 0.3s ease;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-in-out;
  cursor: pointer;
  display: block;
  min-width: 197px;
  min-height: 69px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button-primary {
  background-color: var(--primary);
  color: var(--bg-black);
}

.title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: -6%;
  line-height: 100%;
}

.subtitle {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -8%;
  line-height: 46px;
}

.body-title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -6%;
  line-height: 21px;
  text-transform: uppercase;
}

.body-subtitle {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -6%;
  line-height: 21px;
}

.body-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -6%;
  line-height: 21px;
}

.text-40 {
  font-size: 40px;
  line-height: normal;
  letter-spacing: -8%;
}

label {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -8%;
  line-height: normal;
}

@media (max-width: 768px) {
  .title {
    font-size: 46px;
  }

  .subtitle {
    font-size: 36px;
    line-height: 36px;
  }

  .body-title {
    font-size: 18px;
    line-height: 18px;
  }

  .body-subtitle {
    font-size: 18px;
    line-height: 18px;
  }

  .body-text {
    font-size: 18px;
    line-height: 18px;
  }

  .text-40 {
    font-size: 30px;
  }

  .button {
    min-height: 50px;
  }
}

@media (max-width: 525px) {

  .page-width,
  .page-width-narrow {
    padding-inline: 15px;
  }

  .text-40 {
    font-size: 24px;
  }

  input:not([type="checkbox"]) {
    min-height: 48px;
  }

  label {
    font-size: 18px;
  }

  ::placeholder {
    font-size: 16px;
  }

  .subtitle {
    font-size: 26px;
    line-height: 36px;
  }

  .body-title {
    font-size: 18px;
    line-height: 18px;
  }

  .body-subtitle {
    font-size: 16px;
    line-height: 16px;
  }

  .body-text {
    font-size: 18px;
    line-height: 18px;
  }

  input[type="checkbox"]:checked::after {
    font-size: 15px;
  }

  .button {
    font-size: 18px;
    min-height: 48px;
    padding: 14px 30px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-helvetica;
  }
}